{% load staticfiles %}
{% load compress %}

<!doctype html>
<head>
    <title>{% block title %}picoblog{% endblock %}</title>

    <!-- build:css picoblog/css/style.min.css -->
        <link rel="stylesheet" type="text/scss" href="{% static 'picoblog/css/style.scss'%}" />
    <!-- /build -->
</head>
<body>
    <header>
        <a rel="home" href="/">
            <h1>BLOG</h1>
            <p>subtitle goes here</p>
        </a>
    </header>
    
    <nav>
        {% block nav %}{% endblock %}
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
