{% load staticfiles %}

<!doctype html>
<head>
    <title>{% block title %}picoblog{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'picoblog/css/style.min.css' %}" />

    <!-- build:remove -->
    <link rel="stylesheet" type="text/css" href="{% static 'picoblog/css/style.css' %}" />
    <!-- /build -->
</head>
<body>
    <header>
        <a rel="home" href="/">
            <h1>BLOG</h1>
            <p>subtitle goes here</p>
        </a>
    </header>
    
    <nav>
        {% block nav %}{% endblock %}
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
