{% extends "picoblog/base.html" %}
{% block content %}
    {% if latest_posts_list %}
        <ul class="content-list">
            {% for post in latest_posts_list %}
            <li>
                <article>
                    <header>
                        <h1><a href="{% url 'post' post.id %}">{{ post.title }}</a></h1>
                        <p>{{ post.author }} at <time>{{post.date}}</time></p>
                    </header>

                    <p>{{post.content}}</p>
                </article>
            </li>
            <hr>
            {% endfor %}
        </ul>
    {% else %}
        <p>No posts available.</p>
    {% endif %}
{% endblock %}
