h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px; }

body {
  margin: 0px;
  padding: 0px;
  background: #dfdfdf;
  font-family: sans-serif; }
  body > header {
    background: #da9330;
    text-align: center;
    padding: 5px;
    color: #f5e2c7; }
    body > header a {
      text-decoration: none;
      color: inherit; }
      body > header a:hover {
        color: white; }
      body > header a:active {
        color: #ddd; }
      body > header a:visited {
        color: inherit; }
    body > header h1 {
      font-size: 3em; }
    body > header p {
      font-size: 1em; }

main {
  padding: 20px 5px 25px 25px;
  margin: 0 auto;
  width: 940px;
  background: #ffffff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); }

a {
  text-decoration: none;
  outline: none;
  color: #363398; }
  a:hover {
    color: #1b194c; }
  a:active {
    color: #22205f; }
  a:visited {
    color: black; }

article h1 {
  font-size: 2.2em; }
article h2 {
  font-size: 1.3em; }
article h3 {
  font-size: 0.5em; }
article header {
  margin-bottom: 1.5em; }
  article header p {
    font-weight: bold;
    font-style: italic; }
article > p {
  line-height: 1.5; }

ul.content-list {
  padding: 0;
  margin: 0;
  list-style-type: none; }
  ul.content-list li {
    margin: 3em 0 1em 0; }
  ul.content-list li:first-child {
    margin-top: 0; }
